<nav>
  <div class="logo-name">
      <div class="logo-image">
          <img src="../../../assets/img/logo.png" alt="">
      </div>

      <span class="logo_name">EcuaHealth</span>
  </div>

  <div class="menu-items">
      <ul class="nav-links">
          <li><a routerLink="/">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
          </a></li>
          <li><a href="http://localhost:5000/activo" >
            <i class="uil uil-desktop"></i>
              <span class="link-name">Activos</span>
          </a></li>
          <li><a routerLink="/departamento">
            <i class="uil uil-building"></i>
              <span class="link-name">Departamentos</span>
          </a></li>
          <li><a routerLink="/control">
            <i class="uil uil-clipboard-alt"></i>
              <span class="link-name">Controles</span>
          </a></li>
      </ul>
  </div>
