<nav>
  <div class="logo-name">
      <span class="logo_name">EcuaHealth</span>
  </div>

  <div class="menu-items" style="margin-right: 30px !important;">
      <ul class="nav-links">
          <li><a href="http://localhost:4200/">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
          </a></li>
          <li><a href="/activo">
            <i class="uil uil-desktop"></i>
              <span class="link-name">Activos</span>
          </a></li>
          <li><a href="http://localhost:4200/departamento">
            <i class="uil uil-building"></i>
              <span class="link-name">Departamentos</span>
          </a></li>
          <li><a href="http://localhost:4200/control">
            <i class="uil uil-clipboard-alt"></i>
              <span class="link-name">Controles</span>
          </a></li>
      </ul>
  </div>
