<app-sidebar></app-sidebar>
<section class="dashboard">

  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Dashboard</span>
      </div>

      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-building"></i>
          <span class="text">Departamentos Registrados</span>
          <span class="number">{{contadorDepa}}</span>
        </div>
        <div class="box box2">
          <i class="uil uil-desktop"></i>
          <span class="text">Activos Registrados</span>
          <span class="number">{{contadorAc}}</span>
        </div>
        <div class="box box3">
          <i class="uil uil-clipboard-alt"></i>
          <span class="text">Controles Realizados</span>
          <span class="number">{{contadorCont}}</span>
        </div>
      </div>
    </div>

    <div class="activity">
      <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Recent Activity</span>
      </div>

      <div class="activity-data">
        <table id="tablaDepartamento" class="table table-striped table-bordered table-condensed" style="width: 100%;">
          <thead class="text-center">
            <tr>
              <th>Departamentos Registrados</th>
              <th>Persona encargada</th>
              <th>Activos registrados</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td><div class="data names">
                <span class="data-list" *ngFor="let item of departamentos">{{item.nombre}}</span>
              </div></td>
              <td><div class="data email">
                <span class="data-list" *ngFor="let item of departamentos">{{item.encargado}}</span>
              </div></td>
              <td><div class="data joined">
                <span class="data-list" *ngFor="let item of activos">{{item.activoT}}</span>
              </div></td>

            </tr>
          </tbody>
        </table>



      </div>
    </div>
  </div>
</section>
